.recent-title{
    margin-left: 50px;
}
@media (max-width: 1439px){
    .recent-title{
        color: #fff;
        margin-left: 0;
        text-align: center;
    }
}
.recent-list-container{
    position: relative;
    max-width: 550px;
    color: #000;
    font-size: 18px;
    text-align: center;
    .mask{
        position: absolute;
        inset: 0;
        object-fit: cover;
        width: 100%;
        height: 100%;
        pointer-events: none;
    }
    .recent-list{
        display: flex;
        flex-flow: row wrap;    
        > div{
            margin: 4px;
            flex-grow: 1;
            background-color: #fff;
            padding: 0.5em 1.5em;
        }
    }
}
