.challenge{
    position: relative;
    > img{
        width: 400px;
        max-width: 95vw;
    }
    .challenge-content{
        margin: 0.5em 1.5em;
        position: absolute;
        height: 100%;
        inset: 0;
        color: #000;
        h5{
            font-size: 22px;
            font-weight: 400;
        }
        .progress-bar{
            display: flex;
            padding-right: 0.5em;
            gap: 0.5em;
            &.hide{
                display: none;
            }
            .progress-container{
                flex-grow: 1;
                outline: 2px solid black;
                margin-block: 5px;
                .progress{
                    height: 100%;
                    background-color: var(--color-red);
                }
            }
        }
        .options{
            position: absolute;
            top: 0;
            right: 0;
            button{
                margin-inline: 0.2em;
            }
        }
    }
}
@media (max-width: 560px){
    .challenge{
        .challenge-content{
            font-size: 14px;
            h5{
                font-size: 18px;
            }
            p{
                white-space: nowrap;
            }
        }
    }
}