.challenge{
    position: relative;
    > img{
        width: 400px;
        max-width: 95vw;
    }
    .challenge-content{
        margin: 0.5em 1.5em;
        position: absolute;
        height: 100%;
        inset: 0;
        color: #000;
        h5{
            font-size: 22px;
            font-weight: 400;
        }
        .progress-bar{
            display: flex;
            padding-right: 0.5em;
            gap: 0.5em;
            &.hide{
                display: none;
            }
            .progress-container{
                flex-grow: 1;
                outline: 2px solid black;
                margin-block: 5px;
                max-height: 10px;
                .progress{
                    height: 100%;
                    background-color: var(--color-red);
                    width: 1px;
                    transition: width 200ms ease;
                }
            }
            .btn-ico{
                font-size: 18px;
            }
        }
        .options{
            position: absolute;
            top: 0;
            right: 0;
            button{
                margin-inline: 0.2em;
            }
        }
        .btn-ico{
            transition: color 300ms ease;
            &:hover{
                color: var(--color-red);
            }
        }
        .btn-menu:focus+.challenge-menu, .challenge-menu:hover{
            display: block;
        }
        .challenge-menu{
            position: absolute;
            top: 1em;
            right: 1em;
            padding: 0.3em 0.4em;
            min-width: 90px;
            background-color: #000;
            display: none;
            button{
                border: 0;
                outline: 0;
                background-color: transparent;
                cursor: pointer;
                white-space: nowrap;
                svg{
                    vertical-align: bottom;
                    font-size: 1rem;
                }
            }
        }
    }
}
@media (max-width: 560px){
    .challenge{
        .challenge-content{
            font-size: 14px;
            h5{
                font-size: 18px;
            }
        }
    }
}