.completed-challenge{   
    font-size: 18px;
    position: relative;
    .bg{
        position: absolute;
        inset: 0;
        z-index: -1;
        object-fit: cover;
        width: 100%;
    }
    .content{
        margin: 0.5em 1.5em 0.5em 0.75em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .info{
            position: absolute;
            top: 2px;
            right: 2px;
            font-size: 14px;
        }
    }
}