.input-group{
    margin-block: 0.45em;
    width: 280px;
    label{
        display: block;
        margin: 0.2em 0;
        text-transform: uppercase;
        font-family: "Bebas Neue";
        font-size: 24px;
        letter-spacing: 1px;
        color: rgba(255, 255, 255, 0.5);
        &.focus{
            color: #fff;
        }
    }
    input{
        display: block;
        padding: 0.6em 0.7em;
        width: 100%;
        border: 2px solid rgba(255, 255, 255, 0.5);
        background-color: transparent;
        font-size: inherit;
        font-weight: 600;
        outline: none;
        color: rgba(255, 255, 255, 0.5);
        &::placeholder{
            color: rgba(255, 255, 255, 0.5);
            transition: transform 0.2s ease;
        }
        &:hover::placeholder{
            transform: translateX(5px);
        }
        &:focus{
            outline: none;
            color: #fff;
            border-color: #fff;
            &::placeholder{
                transform: none;
            }
        }
    }
    .input-wrap{
        width: 100%;
        max-width: 280px;
        position: relative;
    }
    .focus-outline{
        display: none;
        position: absolute;
        pointer-events: none;
        transform: translateY(-90%) scale(1.05);
        width: 100%;
        &.focus{
            display: block;
        }
    }
}