.login-container{
    color: #000;
    height: 420px;
    min-height: 200px;
    position: relative;
    .login-form{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    .login-result{
        display: flex;
        margin-top: 0.5em;
        .login-avatar{
            position: relative;
            width: 160px;
            height: 160px;
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
            h5{
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                font-size: 18px;
                color: #fff;
                text-align: center;
                background-color: rgba(0,0,0,0.7);
            }
        }
        .login-confirm{
            font-size: 18px;
            text-align: center;
            flex-grow: 1;
            button{
                outline: none;
                border: none;
                background-color: transparent;
                color: #fff;
                font-weight: bold;
                cursor: pointer;
                font-size: 16px;
                padding: 0.5em 1em;
                margin: 0.4em 0.2em 0;
                transition: transform 100ms ease;
                &:hover{
                    transform: scale(1.05);
                }
            }
            .confirm{
                background-color: #59a268;
            }
            .cancel{
                background-color: #c44536;
            }
        }
       
    }
    .bg-phone{
        display: none;
        position: absolute;
        top: -2.5%;
        right: -2.5%;
        width: 105%;
        height: 105%;     
        object-fit: fill;
        z-index: -1;
        pointer-events: none;
    }
}
@media (max-width: 1439px){
    .login-container{
        color: #000;
        .bg-phone{
            display: block;
        }
    }
}
@media (max-width: 1023px){
    .login-container{
        height: auto;
        max-height: 420px;
    }
}