.bg-img{
    position: absolute;
    pointer-events: none;
    height: 100%;
    z-index: -1;
}
.bg-city{
    filter: saturate(0) brightness(0.25);
    width: 100%;
    object-fit: cover;
}
.bg-smoke{
    object-fit: contain;
    right: 0;
}
.bg-aiden{
    right: -20%;
    opacity: 0.15;
    width: auto;
    object-fit: contain;
}
@media (max-width: 1439px){
    .bg-aiden{
        display: none;
    }
    .bg-smoke{
        display: none;
    }
}
.container-divide{
    display: flex;
    margin: 0 4em;
    justify-content: space-between;
    //position: relative;
    > div{
        //position: absolute;
        //width: 900px;
        flex-shrink: 0;
    }
}
.challenges-container{
    display: flex;
    gap: 5em;
    margin-top: 8em;
    left: 0;
    .completed{
        margin-top: 4em;
    }
}
.achievements-container{
    right: 0;
    .achievements{
        margin-top: 10em;
        width: fit-content;
        margin-left: auto;
    }
    .recent{
        width: fit-content;
        margin: 2em auto 0;
    }
}
.activity{
    position: absolute;
    bottom: 1em;
    left: 1em;
}
@media (max-width: 1600px){
    .container-divide{
        margin: 0 2em;
    }
}
@media (max-width: 1439px){
    .container-divide{
        flex-flow: column nowrap;
        margin: 0;
        padding-bottom: 3em;
        align-items: center;
        > div{
            position: relative;
        }
    }
    .achievements-container{
        align-self: stretch;
        .achievements{
            margin-top: 3em;
            margin-right: 3em;
        }
    }
    .activity{
        top: 1em;
        bottom: auto;
    }
}
@media (max-width: 1023px){
    .challenges-container{
        flex-direction: column;
        gap: 0;
    }
    .achievements-container{
        align-self: stretch;
        .achievements{
            margin-right: auto;
        }
    }
  
}