.challenges-list{
    height: 400px;
    min-width: 400px;
    overflow-y: scroll;
    padding-right: 6px;
    &::-webkit-scrollbar {
        width: 6px;
    }
    &::-webkit-scrollbar-track {
        background: #FFFFFFA0;
    }
    &::-webkit-scrollbar-thumb {
        background: #FFF;
    }
}
@media (max-width: 560px){
    .challenges-list{
        min-width: auto;
        height: auto;
        max-height: 400px;
    }
}